doctype html
// if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
// if IE 7html.no-js.lt-ie9.lt-ie8(lang="en")
// if IE 8html.no-js.lt-ie9(lang="en")
//if gt IE 8
  | [if gt IE 8]
html.no-js(lang="en")
  // <![endif]
  head
    
      meta(charset="utf-8")
      meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
      title Ottenga
      meta(content="", name="description")
      meta(content="width=device-width, initial-scale=1, maximum-scale=1", name="viewport")
      meta(name="apple-mobile-web-app-capable", content = "yes")
      meta(name="apple-mobile-web-app-status-bar-style", content ="black")
      
      
      link(href="css/vendor.css", rel="stylesheet")
      link(href="css/app.css", rel="stylesheet")
      
      
  
  body
    
    #main-wrapper
      
        .sub-wrapper#home
          #home-inner
            #parallax
              #parallax-image
                img(src="/images/sfondo01.jpg", alt="", data-stellar-ratio="0.7")
              #parallax-mask
                //img(src="/images/mask.png", alt="")
            .social.wow.fadeInUp
              ul
                li
                  a(href="mailto:ottenga.nic@gmail.com", target="_blank")
                    img(src="/images/mail.svg", alt="")
                li
                  a(href="http://codepen.io/nOttenga/", target="_blank")
                    img(src="/images/codepen.svg", alt="")
                li
                  a(href="http://twitter.com/ottenga", target="_blank")
                    img(src="/images/twitter.svg", alt="")
                li
                  a(href="https://it.linkedin.com/in/nottenga", target="_blank")
                    img(src="/images/ln.svg", alt="")
            .info.wow.fadeInUp
              h1 Ottenga
              p Nicolò Gabriele
            
            .home-square
              #home-square-inner

        
        .sub-wrapper#intro
          #intro-inner.wow.fadeInUp
            #intro-sub-inner
              h2 Designer focused on crafting creative digital experiences  with a passion for coding
              p web - ui - ux
              .square#intro-square
        
        .sub-wrapper#content
          #content-inner
            #content-title
              h3 my
                span works
            
            // DIVS
            
          #content-container
            
            .project-wrapper.wow.fadeInUp#experientia(data-stellar-ratio="0.9")
              .project-inner.project-inner-left
                #experientia-logo
                  img(src="/images/exp.svg", alt="")
                #experientia-title
                  .square#square-exp-1
                  p experientia
                  .square#square-exp-2
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li UX Design
                    li Web Develop
                .project-inner-link
                  a(href="http://experientia.com", target="_blank") VISIT
            
            .job.wow.fadeInUp#belafonte-job
              a(href="http://belafonte.co", target="_blank")
                img(src="/images/belafonte-black.svg", alt="")
            
            .project-wrapper.wow.fadeInUp#letlife-w(data-stellar-ratio="0.8")
              .project-inner.project-inner-left
                #letlife-logo
                  img(src="/images/letlife.svg", alt="")
                  .square
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li Web Develop
                .project-inner-link
                  a(href="http://let.life", target="_blank") VISIT
          
          
            .project-wrapper.wow.fadeInUp#equinoxe(data-stellar-ratio="1.02")
              .project-inner.project-inner-left
                #equinoxe-logo
                  img(src="/images/equinoxe.svg", alt="")
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li Web Develop
                    li UX Research
                .project-inner-link
                  a(href="http://equinoxe.it", target="_blank") VISIT
            
            
            .project-wrapper.wow.fadeInUp#letlife-a(data-stellar-ratio="0.9")
              .project-inner.project-inner-left
                .square
                #letlife-a-logo
                  
                  img(src="/images/letlife.svg", alt="")
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li UX Research
                    li User story
                    li Prototype
                .project-inner-link
                  a(href="https://itunes.apple.com/us/app/let.life/id972049045?l=it&ls=1&mt=8", target="_blank") VISIT
            
            
            .project-wrapper.wow.fadeInUp#latrofa(data-stellar-ratio="0.93")
              .project-inner.project-inner-left
                #latrofa-title
                  .square#latrofa-square-1
                  p latrofa
                  .square#latrofa-square-2
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li Fullstack
                .project-inner-link
                  a(href="http://nottenga.com/latrofa/index.html", target="_blank") VISIT
            
            
            .project-wrapper.wow.fadeInUp#anima(data-stellar-ratio="0.96")
              .project-inner.project-inner-left
                #anima-square
                #anima-logo
                  img(src="/images/logoletlife.svg", alt="")
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li UX Research
                    li Coding
                .project-inner-link
                  a(href="http://ad2014.it", target="_blank") VISIT
            
            .job.wow.fadeInUp#anima-job
              a(href="http://ad2014.it", target="_blank")
                img(src="/images/startuplogo.svg", alt="")
            
            
            .project-wrapper.wow.fadeInUp#ankhe(data-stellar-ratio="0.92")
              .project-inner.project-inner-left
                p#ankhe-title ANKHE
                #ankhe-logo
                  img(src="/images/ankhe-logo.png", alt="")
                p#ankhe-subtitle GARDEN DESIGN
                  
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li UX Research
                    li Coding
                    li Wordpress
                .project-inner-link
                  a(href="http://ankhe.it", target="_blank") VISIT
            
            
            .project-wrapper.wow.fadeInUp#opendata(data-stellar-ratio="0.86")
              .project-inner.project-inner-left
                #opendata-mask
                  img(src="/images/opendata-mask.png", alt="")
                #opendata-content
                  p#opendata-subtitle map
                  #opendata-square
                  p#opendata-title OPEN DATA
                  
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li Bachelor project
                    li Fullstack
                .project-inner-link
                  a(href="http://nottenga.com/opendata/index.html", target="_blank") VISIT
            
            .job.wow.fadeInUp#ied-job(data-stellar-ratio="0.95")
              a(href="http://www.ied.edu/", target="_blank")
                img(src="/images/ied-logo.png", alt="")
            
            
            .project-wrapper.wow.fadeInUp#granmadre(data-stellar-ratio="0.94")
              .project-inner.project-inner-left

                #granmadre-logo
                  img(src="/images/granmadre-logo.svg", alt="")
                p#granmadre-title gran madre
                  
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li Fullstack
                  p Yes I know, it's weird
                .project-inner-link
                  a(href="http://granmadreonoranzefunebri.it", target="_blank") VISIT
            
            
            .project-wrapper.wow.fadeInUp#wbuddy(data-stellar-ratio="0.93")
              .project-inner.project-inner-left

                p#wbuddy-title workin'buddy
                  
                  
                
              
              .project-inner.project-inner-right
                .project-inner-square
                .project-inner-list
                  ul
                    li UX
                    li Graphic
                .project-inner-link
                  a(href="http://nottenga.com/workingbuddy/index.html", target="_blank") VISIT
      
      
        .sub-wrapper#footer
          #footer-utility
            #footer-social
              ul
                li
                  a(href="mailto:ottenga.nic@gmail.com", target="_blank")
                    img(src="/images/mail.svg", alt="")
                li
                  a(href="http://codepen.io/nOttenga/", target="_blank")
                    img(src="/images/codepen.svg", alt="")
                li
                  a(href="http://twitter.com/ottenga", target="_blank")
                    img(src="/images/twitter.svg", alt="")
                li
                  a(href="https://it.linkedin.com/in/nottenga", target="_blank")
                    img(src="/images/ln.svg", alt="")
            #footer-top
              p back to top
            #footer-imprint
              a(href="#")  imprint 
          #footer-image
            img(src="/images/nic.png", alt="")
          
          
    
      
          
      
    block scripts
      script(src="../js/app.js") 
      
